<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web Reader Tool</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Web Reader Tool</h1>
                <p class="tagline">Reformat webpages into custom reading layouts</p>
            </header>
            
            <main>
                <section class="input-section">
                    <form id="reformatter-form">
                        <div clas="form-group">
                            <label for="url-input">Enter Webpage URL</label>

                            
                        </div>
                    </form>
                </section>
            </main>
        </div>
    </body>
</html>
